html,
body {
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
}

#headerwrap {
	margin-top: 0px;
	padding-top:50px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 100px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap img {
    padding-right: 15px;
    padding-left: 15px;
}

#headerwrap h1 {
	color:#D83838;
	margin-top: 90px;
	padding-bottom: 30px;
	letter-spacing: 8px;
	font-size: 100px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #A0A0A0;
}

#headerbardiv {
    background-color: #960001;
}

#headerbardiv p {
    font-size: 14px;
    color: #FFF;
    letter-spacing: 1px;
}

#headerbardiv a {
    color: #FFF;
}